* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
input,
button,
select {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

p {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

form {
  width: 50%;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #333;
  line-height: 50px;
  letter-spacing: 2px;
}

form button {
  margin: auto;
}

.users {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}

.timeOut {
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 2px 2px 5px black;
  background: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.timeOut.active{
  transform: translate(-50%, -50%) scale(1);
}