* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #39f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
}

input,
button,
select {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.form {
  width: 50%;
  padding: 15px;
  margin: 10px auto;
  border: 1px solid #333;
  border-radius: 5px;
  line-height: 50px;
  letter-spacing: 2px;
}

nav {
  background: rgb(255, 202, 111);
  padding: 1.5% 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-left {
  font-size: 40px;
  font-weight: bolder;
}
.nav-right {
  margin-left: auto;
  font-weight: bold;
  font-size: 22px;
}
nav a {
  color: #fff;
  text-shadow: 2px 2px 0px rgb(255, 137, 137);
  transition: 0.5s all;
  margin-right: 15px;
  letter-spacing: 2px;
}
nav a:hover {
  text-decoration: none;
  text-shadow: 5px 5px 15px rgb(255, 70, 70);
}

.users {
  margin: 10px;
  padding: 20px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}

.timeOut {
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 2px 2px 5px black;
  background: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.timeOut.active {
  transform: translate(-50%, -50%) scale(1);
}

.user-input {
  width: 100%;
  height: 33px;
  margin-bottom: 10px;
  border: 1px solid #39f;
}

.control-pages {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.pages {
  border: 1px solid #faa;
  box-shadow: 3px 3px #faa;
  background: #fee;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 40px;
}

.pages.active {
  background: #fea;
}

.layouts {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.layout,
.layout > div {
  border: 1px solid #ccc;
  border-radius: 5px;

  margin: 10px;
  padding: 10px;
}
.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.layout.active {
  outline: 3px solid rgb(255, 132, 132);
  outline-offset: 5px;
}
.layout > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout .name {
  font-weight: bold;
  color: #fff;
  background: rgb(255, 195, 135);
}

.page2 {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  font-size: 20px;
}
.page > h1 {
  text-align: center;
  margin: 10px 0;
  font-size: 30px;
}

.container {
  text-align: center;
}

.grids {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #ccc;
  margin: 30px auto;
}

.grid {
  border: 1px solid #ccc;
}
.grid.active {
  background: #39f;
}
