* {
  padding: 0;
  margin: 0;
  font-family: 微軟正黑體;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


button,
select {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

form button,select {
  box-shadow: 0 0 5px #ddd;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

#app {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-columns: 1.5fr 4fr;
  grid-template-rows: 75px calc(90vh - 150px);
}
.list {
  padding: 10px;
}
.item {
  display: grid;
  grid-template-columns: 2.5fr 5fr 1fr;
  align-items: center;
  border-radius: 30px;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 200ms;
}
.item:hover {
  background: #eee;
}

.item.current {
  color: #39f;
  background-color: rgb(213, 234, 255);
}
.icon img {
  width: 25px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.due {
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
}



.control-box button {
  padding: 10px 25px;
  margin: 0 5px;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  font-weight: bold;
  color: #39f;
  border-radius: 20px;
  transition: .3s;
}

.control-box button:hover {
  letter-spacing: 5px;
  color: #fff;
  background: #39f;
}