* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 微軟正黑體;
}

a {
  text-decoration: none;
}

header {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1% 6%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  text-transform: capitalize;
  font-size: 18px;
  color: #39f;
  padding-bottom: 5px;
  transition: background-size .5s;
  background: linear-gradient(to right, #7fbfff, #96ffead3) center bottom / 0% 10% no-repeat
}

nav a:hover {
  background: linear-gradient(to right, #7fbfff, #83ffe6d3) center bottom / 100% 10% no-repeat
}