<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>New-Vue</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.js'
        integrity='sha512-w39cIBZHEf0ac8RERRGs+aTrQbBIpb+0qGsMCKfwvJSmN6YV8brsbYN1a/nTmuQgfrGyg7p3WI4HRu1rs3rLvw=='
        crossorigin='anonymous'></script>
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <div id='app'>
        <div class="container">
            <img :src="container_bg" alt="" class="bg">
            <header>
                <h1>地圖</h1>
                <p>
                    前往世界各地，在全球各處為未來而戰。從充滿驚人科技成就的釜山，到多倫多佈滿積雪的街道，每張地圖都有待完成的目標、等著被發掘的秘密，還有無限戰術可能等你去探索。
                </p>
            </header>
            <main>
                <nav>
                    <button v-for="{name ,img},idx in nav" @click="setSliderIndex(idx)">
                        <span><img :src="'./img/' + img" alt=""></span>
                        {{name}}
                    </button>
                </nav>
                <div class="sliders">
                    <button @click="sliderArrow(-1)">&lt;</button>
                    <template v-for="slider,i in sliders">
                        <div class="slider" v-if="current_slider === i">
                            <img :src="'img/' + slider.img">
                            <h2>{{slider.title}}</h2>
                            <p>{{slider.text}}</p>
                        </div>
                    </template>
                    <button @click="sliderArrow(1)">&gt;</button>
                </div>
            </main>
        </div>
    </div>
    <script src="./main.js"></script>
</body>

</html>