.link {
  position: relative;
  text-decoration: none;
}

.link::after {
  content: "";
  width: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background: rgb(var(--bs-link-color-rgb));
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}