<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>
    <style>
        .pin {
            column-count: 3;
            padding: 20px;
            list-style: none;
        }

        .pin li {
            break-inside: avoid;
        }

        .pin img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 30px;
            object-fit: cover;
        }

        .pin p {
            font-size: 13px;
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <ul class="pin" n-for="3" n-rand>
        <li>
            <img src="https://picsum.photos/1080/1980/?random=12">
            <p>Lorem ipsum dolor sit amet.</p>
        </li>
        <li> <img src="https://picsum.photos/700/800/?random=11">

            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </li>
        <li> <img src="https://picsum.photos/780/1280/?random=13">

            <p>Lorem, ipsum dolor.</p>
        </li>
    </ul>
    <script src="https://lucashsu95.github.io/url/file/n-for.js"></script>
</body>

</html>