/* <---------global---------> */

* {
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
}
.wrap,
.wrap2 {
    width: 90%;
    margin: 0 auto;
    padding: 2%;

    border: 1px solid #aaa;
    gap: 25px;
}

.box{
    border-radius: 25px;
    border: 1px solid #aaa;
    box-shadow: 3px 3px 10px #000;
}

.box:nth-child(1) {
    background: url("https://picsum.photos/id/200/1280/720") no-repeat center center / cover;
}

.box:nth-child(2) {
    background: url("https://picsum.photos/id/777/1280/720") no-repeat center center / cover;
}

.box:nth-child(3) {
    background: url("https://picsum.photos/id/901/1280/720") no-repeat center center / cover;
}

.box:nth-child(4) {
    background: url("https://picsum.photos/id/87/1280/720") no-repeat center center / cover;
}

.box:nth-child(5) {
    background: url("https://picsum.photos/id/825/1280/720") no-repeat center center / cover;
}

.box:nth-child(6) {
    background: url("https://picsum.photos/id/409/1280/720") no-repeat center center / cover;
}
.box:nth-child(7) {
    background: url("https://picsum.photos/id/433/1280/720") no-repeat center center / cover;
}
.box:nth-child(8) {
    background: url("https://picsum.photos/id/1025/1280/720") no-repeat center center / cover;
}